RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([a-zA-Z0-9\_\-\=\:\+]*)/?([a-zA-Z0-9\_\-\=\:\+]*)?/?([a-zA-Z0-9\_\-\=\:\+\/]*)?/?$ index.php?controleur=$1&action=$2&param=$3 [NC,L]